@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root, body, html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  color: #333;
  font-family: 'DM Sans', sans-serif;
}

h1, h2, h3, h4 ,h5 {
  margin: 0px;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
